## الكود ده بيمنع الفولدرات المؤقتة اللي جهازك بيعملها وقت الـ Build
[Bb]in/
[Oo]bj/

## إعدادات فيجوال استوديو الخاصة بيك (ممنوع تروح لزمايلك)
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

## ملفات الداتابيز المحلية لو موجودة
*.mdf
*.ldf

## ملفات الإعدادات اللي ممكن يكون فيها باسورداتك الشخصية
appsettings.Development.json