:root{

    --bg-color: #ffffff;
    --primary-green: #006400;
   
      --dark-bg: #08270e;
        --radius-sm: 12px;
          --radius-md: 15px;
            --radius-circle: 50%;
              --radius-lg: 20px;
  --radius-lg: 25px;
  --radius-xl: 50px;
   --transition: 0.3s ease;
  --bg-light: #e5eee7;
--bg-color: #ffffff;
 --gray-text: #888;
  --healthy-bg: #ccebc7;
  --healthy-text: #154212;
  --diseased-bg: #ffdad6;
  --diseased-text: #93000a;
  --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  --hover-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  --sidebar-width: 260px;
 --primary-light: #ebefed;
    --bg-surface: #f7faf8;
    --bg-content: #f1f4f2;
 --text-main: #181c1b;
 --text-dark: #0f172a;
    --text-sub: #40493d;
    --text-muted: #707a6c;
      --text-muted: #64748b;
        --text-gray: #666;
  --border-color: #e2e8f0;
    --red: #ba1a1a;
    --red-bg: #ffdad6;
    --purple-light: #f8eeef;
--hover-green: #004d00;
  --secondary-green: #359f35;
  --dark-green: #004d00;
  --textcolor-gray: #666;
  --border-light: #ddd;
  --input-focus-bg: #f9fff9;
 --light-bg : #e5eee7;
    --input-bg: #f9fafb;
  --border-soft: #eee;
    --error-red: red;
 --card-bg: #e6f2e4;
    --item-bg: #f1f8f0;
    --item-hover: #e2efdf;
    --logout-bg: #e85a50;
 --icon-color: #004d00;
   --cardDark-bg: #1e2b1d;
    --itemDark-bg: #253324;
    --itemDark-hover: #2d3e2b;

  
}
body{
  margin: 0;
    padding: 0;
      font-family: "Inter", sans-serif;
        box-sizing: border-box;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
