<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/rejster.css">
    </head>
    <body>
        <div>
            @RenderBody()
        </div>

        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="~/js/Login.js"></script>
            <script src="~/js/rejster.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>