<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlantDoc AI</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap">
    <link rel="stylesheet" href="~/css/indxeH1.css" asp-append-version="true" />
</head>
<body>
    <div class="App">
    <header class="header">
            <div class="container header-container">
                <div class="logo">
                    <span class="material-symbols-outlined logo-icon">psychiatry</span>
                    <span class="logo-text">PlantDoc <span class="text-primary">AI</span></span>
                </div>

                <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
                <label htmlFor="menu-toggle" for="menu-toggle" class="menu-icon">
                    <span class="material-symbols-outlined">menu</span>
                </label>

                <nav class="nav">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#purpose">Purpose</a>
                    <a href="#how-it-works">How It Works</a>
                    <a href="#results">Analysis</a>
                    <a href="#features">Features</a>
                    <a href="#users">Users</a>
                    <a href="#contact" class="contact-btn">Contact</a>
                    <a asp-controller="Account" asp-action="Login" class="go-start-btn">Go Start</a>
                </nav>
            </div>
        </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
            <div class="container footer-container">
                <div class="logo">
                    <span class="material-symbols-outlined">psychiatry</span>
                    <span>PlantDoc AI</span>
                </div>
                <p>© 2024 PlantDoc AI. All rights reserved.</p>
                <div class="footer-links">
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    </div>
</body>
</html>
