
@{
    Layout = "_UserPanelLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/newpassword.css" asp-append-version="true">
}

<div class="main-wrapper">
    <div class="password-box">
        <div class="icon-header">
            <span class="material-symbols-outlined">lock_reset</span>
        </div>
        <h2>Change Password</h2>
        <p>Please enter your current and new password to update your account security.</p>

        <form id="passwordForm">
            <div class="input-field">
                <label>Old Password</label>
                <input type="password" id="currentPass" required placeholder="Enter current password">
            </div>

            <div class="input-field">
                <label>New Password</label>
                <input type="password" id="newPass" required placeholder="Enter new password">
            </div>

            <div class="input-field">
                <label>Confirm New Password</label>
                <input type="password" id="confirmPass" required placeholder="Re-type new password">
            </div>

            <button type="submit" class="btn-update">Update Password</button>
        </form>

        <a href="home.html" class="link-back">Back to Home</a>
    </div>
</div>
@section Scripts {
    <script src="~/js/newpassword.js" asp-append-version="true"></script>
}

