@{
    Layout = "_UserPanelLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/upload.css" asp-append-version="true">
}
@section Scripts {
    <script src="~/js/upload.js" asp-append-version="true"></script>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<main class="content">
    <div class="main-wrapper">
        <div class="upload-card">
            <h1>Diagnose Your Plant's Health</h1>
            <p class="subtitle">
                Upload a clear photo of the affected leaves for an instant AI analysis and recovery plan.
            </p>

            <form asp-controller="UserPanel" asp-action="Result" method="post" enctype="multipart/form-data">
                <!-- Toggle -->
                <!-- حطه فوق الـ Toggle مباشرة -->
                    <div id="warningMsg" class="warning-msg">
                    Please select Plant or Insect before scanning! ⚠️
                    </div>
                <div class="type-selector">
                    <button type="button" id="plantBtn" class="type-btn" onclick="selectType('plant')">
                        🌿 Plant
                    </button>
                    <button type="button" id="insectBtn" class="type-btn" onclick="selectType('insect')">
                        🐛 Insect
                    </button>
                </div>
                <input type="hidden" name="isInsect" id="isInsectInput" value="">

                <div class="upload-area">
                    @* تأكد أن الـ name هنا هو نفس اسم البارامتر في الـ Action *@
                    <input type="file" name="fileInput" id="fileInput" accept="image/png, image/jpeg" hidden>
                    <div id="uploadIcon" class="upload-icon-circle">
                        <span class="material-symbols-outlined">cloud_upload</span>
                    </div>
                    <h3>Upload Plant Image</h3>
                    <p>Drag and drop your image here, or click to browse files</p>
                    <small>JPEG, PNG • MAX 10MB</small>
                    <br>
                    <button type="button" id="browseBtn">Browse Files</button>
                    
                </div>

                <div id="filePreviewContainer" class="file-preview hidden">
                    <div class="file-preview-inner">
                        <img id="previewImage" src="" alt="preview">
                        <p id="fileName"></p>
                        <span id="removeFile" class="material-symbols-outlined delete-icon">delete</span>
                    </div>
                </div>

                @* زرار الفحص بقا Submit عشان يبعت الفورم *@
                <button type="submit" id="scanBtn" class="scan-btn">
                    <span class="material-symbols-outlined">analytics</span> Scan Image
                </button>
            </form>
        </div>
    </div>
</main>